<!--Add questions page-->
<%- include('navbar'); -%>

<div class="bg-light pt-4">        
    <div class="container vh-100 col-10 col-sm-10 col-lg-8 col-xl-6">
        <h2 class="ms-3 ">Ask Questions</h2>        
        <form class="rounded-4 pt-3" method="post">                        
            <div class="container grp">
                <textarea class="border border-1 border-black form-control form-control-lg rounded-4" id="exampleFormControlTextarea1" rows="4" placeholder="Ask your question here..." name="question" required></textarea>
                <button type="submit" class="btn btn-primary mt-4 ms-2">Publish</button>
                <button type="button" class="btn btn-danger bg-gradient mt-4 ms-2" onclick="location.href = '/'">Discard</button>
            </div>
        </form>
    </div>
</div>