<%- include('navbar'); -%>

<div class="container">

    <p class="fw-bold text-center fs-1" style="margin-top: 2%;">Content Rules</p>
      <p class="fs-5">1. Be respectful: Treat all users with respect and courtesy. Avoid personal attacks, insults, or offensive language.</p>
      <p class="fs-5">2. Stay on topic: Keep your questions and answers relevant to the website's theme or subject. Off-topic discussions can be distracting and may be removed.</p></p>
      <p class="fs-5">3. Provide accurate information: Ensure your answers are based on factual information, reliable sources, or personal experience. Misleading or false information should be avoided.</p>
      <p class="fs-5">4. Be concise and clear: Use clear language and provide concise answers to help users find the information they are looking for quickly.</p>
      <p class="fs-5">5. Avoid plagiarism: Do not copy and paste content from other sources without proper attribution. If you are quoting or referencing external material, give credit to the original source.</p>
      <p class="fs-5">6. Avoid spam and self-promotion: Do not use the platform solely for self-promotion or to spam advertisements. Promotional content should be relevant and disclosed appropriately.</p>
      <p class="fs-5">7. Report inappropriate content: If you come across any content that violates the website's rules or community guidelines, report it to the moderators or administrators for review.</p>
    </div>