<!-- 
    Last worked on 16/05/23 by
    Ashik
-->

<%- include('navbar'); -%>

<!-- Stylesheet must be used, instead of below styling. -->
<style>
    body{
        background-color: aqua;
    }

    .left-div, .right-div{
        background-color: white;
        border: 1px solid black;
        height: 100vh;
        width: 15%;
        margin-top: 20px;
        
        /* position: fixed; */
    }

    .right-div{
        width: 20%;
    }
    .center{
        width: 60%;
        /* margin-top: 20px; */
        margin: 20px 3%;
        background-color: white;
        border: 1px solid black;
    }

    .q-card{
        height:600px;
        width: 600px;
        background-color: blue;
    }
</style>

<div class="container d-flex">
    <div class="left-div">
        <!-- left side content -->
    </div>
    
    <div class="center">
        <div class="container q-card" >
            <!--Need to continue question card work here.-->
        </div>
        
    </div>
    <div class="right-div">
        <!-- right side content -->
    </div>
</div>

<footer>
    <!-- footer -->
</footer>

</body>
</html>