<!--Create new posts page-->
<%- include('navbar'); -%>

<style>
    .grp{
        border-top: 1px solid black;  
    }

</style>

<div class="bg-light pt-4">        
    <div class="container vh-100 col-10 col-sm-10 col-lg-8 col-xl-6">        
        <form class="px-3 py-3 border border-black rounded-1 bg-white" method="post">            
            <p class="mx-2 fw-medium fs-5 text-break">Q) <%= session.question %></p>            
            <div class="container grp pt-4">                
                <textarea class="form-control rounded-1 text-break bg-dark-subtle" id="exampleFormControlTextarea1" rows="9" name="answer" required spellcheck="false" placeholder="Answer this question here..."></textarea>
                <button type="submit" class="btn btn-primary mt-4 ms-2">Publish</button>
                <button type="button" class="btn btn-danger bg-gradient mt-4 ms-2" onclick="location.href = '/'">Discard</button>
            </div>
        </form>
    </div>
</div>
