<!--Create new posts page-->
<%- include('navbar'); -%>

<style>
    .grp{
        border-top: 1px solid white;  
    }
    textarea{
        overflow: hidden;
    }
</style>

<div class="bg-light pt-4">        
    <div class="container vh-100 col-10 col-sm-10 col-lg-8 col-xl-6">        
        <form class="px-3 py-3 border rounded-4 bg-primary bg-gradient" method="post">            
            <p class="ms-3 fw-medium fs-5 text-white text-break">Q) <%= session.question %></p>            
            <div class="container grp pt-4">
                <textarea class="form-control rounded-4 text-break" id="exampleFormControlTextarea1" rows="9" placeholder="Answer this question here..." name="answer" required spellcheck="false"></textarea>
                <button type="submit" class="btn btn-info mt-4 ms-2">Publish</button>
                <button type="button" class="btn btn-danger bg-gradient mt-4 ms-2" onclick="location.href = '/'">Discard</button>
            </div>
        </form>
    </div>
</div>
