<%- include('navbar'); -%>
<div class="bg-light pt-4">
  <div class="container vh-100 col-12 col-md-10 col-lg-8 pt-4">    
    <h4 class="ps-3 pb-3">Notifications</h4> 
    <div class="card card-body bg-secondary pt-5">                         
        <div class="card container shadow-sm mb-1">
            <div class="card-body p-0 py-3">                    
              <p class="fs-5 pt-2 ps-4 d-inline">Want to ask something to the community? <a href="/ask">Ask</a> </p>
              <span class="float-end fs-6">May 27, 2023</span>
            </div>
        </div>            
        <div class="card container shadow-sm mb-1">
            <div class="card-body p-0 py-3">                    
              <p class="fs-5 pt-2 ps-4 d-inline">Are you good at answering <a href="/answer">questions?</a></p>
              <span class="float-end fs-6">May 27, 2023</span>
            </div>
        </div>            
        <div class="card container shadow-sm mb-1">
            <div class="card-body p-0 py-3">                    
              <p class="fs-5 pt-2 ps-4 d-inline">Hello waddle, Customize your profile <a href="/profile">here.</a></p>
              <span class="float-end fs-6">May 27, 2023</span>
            </div>
        </div>                      
        <div class="card container shadow-sm mb-1">
            <div class="card-body p-0 py-3">                    
              <p class="fs-5 pt-2 ps-4 d-inline">See our guidelines and community standards <a href="/guidelines">here.</a></p>
              <span class="float-end fs-6">May 27, 2023</span>
            </div>
        </div>            
        <div class="card container shadow-sm">
          <div class="card-body p-0 py-3">                    
            <p class="fs-5 pt-2 ps-4 d-inline">Welcome to friendly waddle. Congrats on starting a new journey.</a></p>
            <span class="float-end fs-6">May 27, 2023</span>
          </div>
        </div>  
    </div>
  </div>
</div>