<%- include('navbar'); -%>
<div class="container" style="margin-top: 5%;">
    <h2 class="fs-2 text-center text-decoration-underline">Notifications</h2>

    <div class="box">
        <span class="date">May 27, 2023</span>
      <p class="fs-4">Welcome to friendly waddle. Customize your profile <a href="/profile">here</a></p>
    </div>
    <div class="box">
        <span class="date">May 25, 2023</span>
      <p class="fs-4">See our guidelines and community standards  <a href="/rules">here</a></p>
    </div>
    <div class="box">
        <span class="date">May 24, 2023</span>
      <p class="fs-4">Welcome to friendly waddle. Congrats on starting a new journey</p>
    </div>
  </div>