:root{
    --main-color: #b92b27;
    --main-color-darker: #941e1a;
    --white: #fff;
}

.text-main-color{
    color: var(--main-color);
}

.active{
    color: var(--main-color);
    border-bottom: 5px solid var(--main-color);    
 }

.border-main-color{
    border-bottom-style: solid;
    border-width: 5px;    
    border-color: var(--main-color);
}

.nav-item svg{
    height: 35px;
    width: 35px;
}

.bg-second-color{
    background-color: rgb(233, 233, 233);    
}

.pointer:hover{
    cursor: pointer;
}

#left-list{
    margin-left: 20px;
    width: max-content;
}

#left-list .topics{
    padding-left: 15px;
}

#left-list a{
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: 13px;
}

.text-gray-dark{
    border: 2px solid grey;
    color: gray;
}

.border-gray-one{
    border: 1px solid grey;
    
}

.col .hover-dark{
    width: 20px;
    border-radius: 15px;
}

.hover-dark:hover{
    background-color: #d0d0d0;    
    /* border-radius: 15px; */
    /* transition: .2s; */
}

.about-author{
    font-size: small;
}

.post{
    border-radius: 15px;
}

a{
    text-decoration: none;
}

.hide{
    display: none;
}


.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .box {
    background-color: white;
    border-radius: 5px;
    padding: 7px;
    padding-top: 30px; 
    position: relative;
    margin-bottom: 0px; 
    border: 0.5px solid darkgrey;
    padding: 10px;
    padding-bottom: 20px;
    font-family: Crete Round;
    font-size: large;
  }
  .box:hover{
        border: 2px solid blue;

  }
  .date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #888;
  }
  
  @media (max-width: 768px) {
    .date {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 10px; /* Add some space below the date */
    }
  }