:root{
    --main-color: #b92b27;
    --main-color-darker: #941e1a;
    --white: #fff;
}

.text-main-color{
    color: var(--main-color);
}

.active{
    color: var(--main-color);
    border-bottom: 5px solid var(--main-color);    
 }

.border-main-color{
    border-bottom-style: solid;
    border-width: 5px;    
    border-color: var(--main-color);
}

.nav-item svg{
    height: 35px;
    width: 35px;
}

.bg-second-color{
    background-color: rgb(233, 233, 233);    
}

.pointer:hover{
    cursor: pointer;
}

#left-list{
    margin-left: 20px;
    width: max-content;
}

#left-list .topics{
    padding-left: 15px;
}

#left-list a{
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: 13px;
}

.text-gray-dark{
    border: 2px solid grey;
    color: gray;
}

.border-gray-one{
    border: 1px solid grey;
    
}

.col .hover-dark{
    width: 20px;
    border-radius: 15px;
}

.hover-dark:hover{
    background-color: #d0d0d0;    
}

.about-author{
    font-size: small;
}

.post{
    border-radius: 15px;
}

a{
    text-decoration: none;
}

.hide{
    display: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}  

i {
    font-style: normal;
    font-size: 20px;
}

i:hover{
    cursor: pointer;
}

i::before{
    padding-right: 10px;
    font-size: 23px;
}

.liked{
    color: red;
    transition: color .1s;    
}
  /* For later versions dark mode
  @include color-mode(dark) {
    // CSS variable overrides here...
  } */